body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header img {
    float: left;
    margin-right: 10px;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

main h2 {
    font-size: 1.5em;
}

main h3 {
    font-size: 1.2em;
}

header h2 {
    font-size: 170%;
    color: #800000;
    text-indent: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}

a:hover, a:focus {
    font-style: italic;
}

footer p {
    text-align: center;
}

.shadow {
    text-shadow: 2px 2px #800000;
}

:root {
    --global-color-1: #800000;
}

header h2 {
    color: var(--global-color-1);
}

.shadow {
    text-shadow: 2px 2px var(--global-color-1);
}
